apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: qbittorrent-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`qbittorrent.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: qbittorrent-webui
          port: 8080
  tls:
    domains:
    - main: {{ .Values.cloudflare_zone }}
      sans:
      - qbittorrent.{{ .Values.cloudflare_zone }}
    secretName: {{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`sonarr.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: sonarr-webui
          port: 8989
  tls:
    domains:
    - main: {{ .Values.cloudflare_zone }}
      sans:
      - sonarr.{{ .Values.cloudflare_zone }}
    secretName: {{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jackett-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`jackett.local.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: jackett-webui
          port: 9117
  tls:
    domains:
    - main: local.{{ .Values.cloudflare_zone }}
      sans:
      - jackett.local.{{ .Values.cloudflare_zone }}
    secretName: local-{{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: flaresolverr-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`flaresolverr.local.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: flaresolverr-webapi
          port: 8191
  tls:
    domains:
    - main: local.{{ .Values.cloudflare_zone }}
      sans:
      - flaresolverr.local.{{ .Values.cloudflare_zone }}
    secretName: local-{{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`radarr.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: radarr-webui
          port: 7878
  tls:
    domains:
    - main: {{ .Values.cloudflare_zone }}
      sans:
      - radarr.{{ .Values.cloudflare_zone }}
    secretName: {{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pinchflat-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`pinchflat.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: pinchflat-webui
          port: 8945
  tls:
    domains:
    - main: {{ .Values.cloudflare_zone }}
      sans:
      - pinchflat.{{ .Values.cloudflare_zone }}
    secretName: {{ .Values.cloudflare_zone_hyphen }}-tls

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: bazarr-ingress
  namespace: media-server
  labels:
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`bazarr.{{ .Values.cloudflare_zone }}`)
      kind: Rule
      services:
        - name: bazarr-webui
          port: 6767
  tls:
    domains:
    - main: {{ .Values.cloudflare_zone }}
      sans:
      - bazarr.{{ .Values.cloudflare_zone }}
    secretName: {{ .Values.cloudflare_zone_hyphen }}-tls